/*	
╭──────────────────────────────────────────────────────────────────────────────╮
│ static-catalog.org                                 static-catalog.org - 2019 │
╰──────────────────────────────────────────────────────────────────────────────╯
*/

body {
	background-color: #FFFFFF;
}

.ui.menu .item img.logo {
	margin-right: 1.14286em;
}

.overlay {
	visibility: hidden;
}
.fixed.overlay {
	visibility: visible;
}

.ui.message {
	margin-top: 0em;
}

div[data-name=scp-name--tile-grid] {
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}

#scp-id--tile-field-template {
	padding-top: 0em;
	padding-bottom: 0em;
}

.ptb0 {
	padding-top: 0em !important;
	padding-bottom: 0em !important;
}

.pr0 {
	padding-right: 0em !important;
}

.pl0 {
	padding-left: 0em !important;
}

.p0 {
	padding: 0em !important;
}

.m0 {
	margin: 0em !important;
}

.mw100 {
	max-width: 100% !important;
}

.centeredImageMDSE {
	padding: 0.2rem 0rem;
	max-width: 100%;
	display: block;
	margin: auto;
}

blockquote {
    border-left: 4px solid #777777;
    font-size: 16px;
    line-height: 1.5;
    padding: 0em 2em;
    margin: 1em 0em 2em;
}

.mainText {
	text-align: justify !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
}

.inlinecodeMDSE {
	border-radius: 0.5rem;
	padding: 0.2rem 0.5rem;
	vertical-align: baseline;
}

.grayercodeMDSE {
	background-color: rgb(246, 248, 250) !important;
}

/* .main.container { */
/* 	margin-top: 7em; */
/* } */

/* .wireframe { */
/* 	margin-top: 2em; */
/* } */

/* .ui.footer.segment { */
/* 	margin: 5em 0em 0em; */
/* 	padding: 5em 0em; */
/* } */